* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif; 
    font-size: 1rem;
}

header {
    height: 15vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

header div {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: white;
}

header div a {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 40%;
    height: 15vh;
}

header div a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.org {
    width: 5%;
}

header nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 75%;
    gap: 3rem;
    background-color: white;
    font-weight: 400;
    font-size: 1.4375rem;
}

header nav a {
    text-decoration: none;
    color:#042440;
}

.container-carrosel {
    background-color: black;
    height: 85vh;
    position: relative;
    overflow: hidden; 
}

.content-carrosel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out
}

.container-carrosel img.active {
    opacity: 1;
}

.container-carrosel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    font-size: 1.5rem; /* Aproximadamente 24px */
    cursor: pointer;
    z-index: 10;
    width: 6.25rem; /* Aproximadamente 100px */
    height: 6.25rem; /* Aproximadamente 100px */
}

.prev {
    left: 0;
    background: none;
}

.prev img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
}

.next {
    right: 0;
    background: none;
}

.next img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-home ul li {
    list-style: none;
}

.org-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-text {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 6.5625rem; /* Aproximadamente 105px */
}

.container-li {
    display: flex;
    gap: 0.625rem; /* Aproximadamente 10px */
    font-size: 2.5rem; /* Aproximadamente 40px */
    font-weight: 700;
    line-height: 3.75rem; /* Aproximadamente 60px */
}

.container-ul {
    font-size: 2rem; /* Aproximadamente 32px */
    font-weight: 400;
    line-height: 3rem; /* Aproximadamente 48px */
}

.btnSolicitar {
    height: 5vh;
    background-color: black;
    width: 40%;
}

.container-logo {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container-logo div {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.container-logo div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-text button {
    width: 30.625rem; /* Aproximadamente 490px */
    height: 6.25rem; /* Aproximadamente 100px */
    border-radius: 1.4375rem; /* Aproximadamente 23px */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem; /* Aproximadamente 40px */
    font-weight: 700;
    line-height: 3.75rem; /* Aproximadamente 60px */
    background-color: #000204;
    color: white;
    cursor: pointer;
}

.container-historia {
    height: 130vh;
    background-color: #A2BEDC;
    display: flex;
}

.container-text-historia {
    width: 60%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-historia {
    height: 130vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1-historia {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2.1875rem; /* Aproximadamente 35px */
    line-height: 4.5rem; /* Aproximadamente 72px */
    font-weight: 700;
}

.historia-text {
    height: 75vh;
    width: 100%;
    font-size: 1.875rem; /* Aproximadamente 30px */
    line-height: 3rem; /* Aproximadamente 48px */
    font-weight: 500;
}

.container-cards {
    width: 40%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-cards .cards-text {
    width: 26.875rem; /* Aproximadamente 430px */
    height: 16.25rem; /* Aproximadamente 260px */
    border-radius: 1.5625rem; /* Aproximadamente 25px */
    background-color: #6B94C1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* Aproximadamente 20px */
    align-items: center;
    justify-content: space-between;
}

.text-cards {
    display: flex;
    width: 90%;
    height: 7.5rem; /* Aproximadamente 120px */
}

.text-cards .card-img {
    display: flex;
    align-items: center;
    justify-content: start;
}

.card-img img {
    width: 70%;
    height: 90%;
}

.text-cards div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.text-card {
    height: 8.75rem; /* Aproximadamente 140px */
    font-size: 1.25rem; /* Aproximadamente 20px */
    line-height: 1.875rem; /* Aproximadamente 30px */
    font-weight: 600;
    width: 90%;
}

.container-port {
    height: 100vh;
}

.text-port {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.375rem; /* Aproximadamente 38px */
    font-weight: 700;
    line-height: 4.5rem; /* Aproximadamente 72px */
}

.port-carrosel {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.port-org {
    width: 10%;
}

.carrosel-port {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.carrosel-port button {
    width: 4.375rem; /* Aproximadamente 70px */
    height: 4.375rem; /* Aproximadamente 70px */
    cursor: pointer;
    background: none;
    border: none;
}

.carrosel-seta {
    transform: scaleX(-1);
}

.carrosel-port div {
    width: 39.6875rem; /* Aproximadamente 635px */
    height: 31.875rem; /* Aproximadamente 510px */
    border-radius: 0.9375rem; /* Aproximadamente 15px */
    background-color: black;
}

.carrosel-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-servicos {
    height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.servicos-tittle {
    height: 10vh;
    font-size: 2.1875rem; /* Aproximadamente 35px */
    line-height: 4.5rem; /* Aproximadamente 72px */
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.container-servico {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-servico .servico-content {
    width: 37.5rem; /* Aproximadamente 600px */
    height: 31.25rem; /* Aproximadamente 500px */
    background-color: #A2BEDC;
    border-radius: 0.9375rem; /* Aproximadamente 15px */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.servico-image {
    height: 9.375rem; /* Aproximadamente 150px */
    width: 95%;
}

.servico-image img {
    width: 9.375rem; /* Aproximadamente 150px */
    height: 9.375rem; /* Aproximadamente 150px */
}

.servico-tittle {
    height: 5rem; /* Aproximadamente 80px */
    display: flex;
    justify-content: end;
    width: 95%;
}

.servico-text {
    height: 23.125rem; /* Aproximadamente 370px */
    width: 95%;
}
